<div class="container mx-auto mt-8">
  <div class="max-w-md mx-auto bg-white p-8 border rounded-md shadow-md">
    <h1 class="text-3xl font-semibold mb-4 text-center">User Profile</h1>
    <br/>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username:
      </label>
      <p class="text-gray-800 text-lg" id="username"><%= current_user.username %></p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email:
      </label>
      <p class="text-gray-800 text-lg" id="email"><%= current_user.email %></p>
    </div>
    <br/>
    <div class="flex justify-center">
      <%= link_to "Edit Account", edit_user_registration_path(current_user), class: "bg-blue-600 text-white py-2 px-4 rounded-md mr-4" %>
      <%= button_to "Delete Account", registration_path(current_user), method: :delete, class: "bg-gray-100 text-red-500 py-2 px-4 rounded-md", id: "destroy_account" %>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const destroyButton = document.getElementById('destroy_account');

  destroyButton.addEventListener('click', function (event) {
    if (!confirm("Are you sure?")) {
      event.preventDefault();
    }
  });

});
</script>
