<div class="container mx-auto mt-8">
  <div class="max-w-md mx-auto bg-white p-8 border rounded-md shadow-md">
    <h1 class="text-4xl font-semibold mb-4">Welcome to Chq.to!</h1>
    <br/>
    <p class="text-gray-700 text-lg leading-relaxed">
      Chq.to is an application that allows you to create short and convenient links. Links can have the following types:
    </p>
    <br/>
    <ul class="list-disc pl-6 text-gray-700 mt-4">
      <li><strong>Regular:</strong> The common short link that automatically redirects to the original URL.</li>
      <li><strong>Temporal:</strong> A short link with an expiration date. After this date, access will be denied. The expiration date can be modified to re-enable the link.</li>
      <li><strong>Private:</strong> A short link with a password. Correctly entering the password is required to access the original link. The owner can also modify the password.</li>
      <li><strong>OneTime:</strong> A short link that can only be accessed once. Subsequent access attempts will be rejected.</li>
    </ul>
    <br/>
    <p class="text-gray-700 text-lg mt-4">
      All links come with statistics that can be seen by the owner.
    </p>
    <br/>
    <p class="text-gray-700 text-lg mt-4">
      Create your own link and share it with your friends!
    </p>
  </div>
</div>
