<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Accesses by Day</h1>

  <br/>

  <% if @accesses_by_day.present? %>
    <ul class="mb-4">
      <% @accesses_by_day.each do |date, accesses| %>
        <li class="mb-4">
          <span class="font-bold">Date:</span> <%= date %><br>
          <span class="font-bold">Accesses:</span> <%= accesses.count %>
        </li>
        <hr class="border-gray-200 my-2">
      <% end %>
    </ul>

    <div class="mt-4">
      <!-- Mostrar paginación -->
      <%= paginate @accesses_by_day %>
    </div>
  <% else %>
    <p class="mt-4 text-gray-700">No accesses recorded yet.</p>
  <% end %>
  <br/>
  <%= link_to "Back to Link", link_path(@link), class: "mt-8 rounded-lg py-3 px-5 bg-gray-100 text-gray-800 font-medium inline-block" %>
</div>

